h1 Test quotes
h2 Du har just nu user_id #{session[:logged_in]} och användarnamn #{username}
-test_array = "hej," + "hur," + "fungerar," + "detta," + "?"
h1 #{test_array}

h3 Gå tillbaka
form action="/" method="get"    
    input type="submit" value="Gå tillbaka"