h1 #{quote_information["quote"]}
h2 Pris: #{quote_information["price"]} quota
h2 Hur mycket du tjänar på den: #{quote_information["earnings"]} quota
br
h2 Vem har skrivit den: #{quote_information["person"]}
h2 Backstory: #{quote_information["backstory"]}
